@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as m;

.footer {
  @include m.flex(center, center);
  background-color: c.$black;
  padding: 10px;
  position: relative;
  color: c.$white;

  &__icon {
    width: 30px;
    margin-right: 10px;
  }

  &__link {
    color: c.$white;
    text-decoration: none;
    margin: 0 10px;
    @include m.flex(center, center);
    @include m.focus();

    &:hover {
      text-decoration: underline;
    }
  }
}

.scroll-to-top {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  @include m.focus();
  border: 3px solid c.$white;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 45px;
  text-align: center;

  &:hover {
    background-color: rgba(c.$dark-gray, 50%);
  }

  &__icon {
    width: 70%;
    height: 70%;
    fill: c.$white;
  }
}
