@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as m;

.footer {
  @include m.flex(center, center);
  background-color: var(--black);
  padding: 10px;
  position: relative;
  color: var(--white);

  &__icon {
    width: 30px;
    margin-right: 10px;
  }

  &__link {
    color: var(--white);
    text-decoration: none;
    margin: 0 10px;
    @include m.flex(center, center);
    @include m.focus();

    &:hover {
      text-decoration: underline;
    }
  }
}

.scroll-to-top {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  @include m.focus();
  border: 3px solid var(--white);
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 45px;
  text-align: center;
  transition: 0.1s;

  &:hover {
    background-color: var(--dark-gray);
  }

  &__icon {
    width: 70%;
    height: 70%;
    fill: var(--white);
  }
}
