@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as m;
@use '../abstracts/z-index' as z;

.section {
  @include m.flex(center, center, column);
  padding: 75px 10px;

  &:nth-child(even) {
    background-color: c.$light-gray;
  }

  &__heading {
    font-size: f.$heading-size;
    font-weight: f.$normal;
    position: relative;
    margin-bottom: 60px;
    z-index: z.$bottom;

    &:before {
      content: '';
      width: 80%;
      height: 50%;
      display: block;
      left: 0;
      background-color: c.$accent;
      position: absolute;
      z-index: -1;
      left: -10px;
      top: 25px;
    }
  }
}
